*{
    box-sizing: border-box;
}


.fraunces{
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}

.montserrat{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
    margin: 0;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    display: flex;
    align-items: center;
}

img{
    max-width: 100%;
    height:100%;
    border-radius: 10px 0 0 10px;       
}


main{
    display: flex;
    justify-content: center;
    width: 45%;
    min-width:760px;
    border-radius: 10px;
    margin: auto;
}

.content{
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    background-color:hsl(0, 0%, 100%) ;
    border-radius: 0 10px 10px 0px;       
}

.content h3{
    letter-spacing: 3px;
}

h3, p{
    color:hsl(228, 12%, 48%);

}

div.price{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.price span{
    color:hsl(228, 12%, 48%);
    text-decoration: line-through;
}

.price h1{
  color:  hsl(158, 36%, 37%);  
}

div.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: hsl(158, 36%, 37%);
    padding: 1.6em 0;
    color: hsl(0, 0%, 100%);
    border-radius: 10px;
}

div.btn:hover{
    background-color:  hsl(158, 36%, 25%);
}

@media screen and (max-width: 760px){
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 2em 1em;
        min-width: unset;
    }
    img{
        border-radius: 10px 10px 0 0;

    }

    .content{
        border-radius: 0 0 10px 10px;
    }
}






.attribution { 
font-size: 11px; 
text-align: center;
align-self: flex-end;
    
 }
.attribution a { color: hsl(228, 45%, 44%); }
